<!DOCTYPE html>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<html lang="he">
<head>
<title>Towers of Hanoi</title>
</head>
<body>
<h3 style="background-color:gray;">Links</h3>
<h1>Welcome</h1>
<a href="http://www.gutenberg.org/" title="Pressing here will take you to the Gutenberg Project"><img src="/assets/book1.jpg" width="160" height="160" alt="Book"/></a>
<h3>Towers of Hanoi</h3>
</br>
<strong>Choose number of Rings and press START to begin</strong>
<strong>Press NEXT MOVE for next step</strong>
</br>
<a href="http://www.google.com"  id="ggl" title="This will take you to Google">GoTo Google</a>
</body>
</html>
