<!DOCTYPE html>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<html lang="he">
<head>
<title>Towers of Hanoi - Next Move Pressed</title>
<style type="text/css">
  h4 {background-color:orange; width:300pt}
  h2 {color:red;}
</style>

</head>
<body align = "center">
<h2>Towers of Hanoi - Pressed Next Move</h2>
</body>
</html>