<!DOCTYPE html>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<html lang="he">
<head>
<title>Towers of Hanoi - Start Pressed</title>
<style type="text/css">
  h4 {background-color:orange; width:300pt}
  h2 {color:red;}
</style>

</head>
<body align = "center">
<table border="0"
	  <tr>
		<td width="310pt"></td>
		<td><h4>A Ruby on Rails Quick App</h4></td>
		<td></td>
	  </tr>
</table>
<h2>Towers of Hanoi</h1>
<img src="/assets/towers1.jpg" width="600" height="200" alt="Book" />
</br>

<form name="myform" action="hanoi" method="post">
<div align="center">
<br>
Enter Rings: <input type="text" size="10">&nbsp;&nbsp;
<input type="submit" value="START" />&nbsp;&nbsp;
<input type="submit" value="Next Move"/>
<br><br>
</div>
</form>

<strong>Enter number of Rings and press START to begin.</strong></br>
<strong>Press Next Move for the next step.</strong></br>
<a href="http://www.google.com"  align = "left" id="ggl" title="Search Google">GoTo Google</a>
</body>
</html>
