<!DOCTYPE html>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<html lang="he">
<head>
<title>Towers of Hanoi</title>
<style type="text/css">
  h4 {background-color:orange; width:400pt}
  h2 {color:red;}
</style>

</head>
<body align = "center">
<table border="0"
	  <tr>
		<td width="230pt"></td>
		<td><h4>A Ruby on Rails Quick App (It is now <%= @time %>)</h4></td>
		<td></td>
	  </tr>
</table>
<h2>Towers of Hanoi</h2>

<img src="/assets/towers1.jpg" width="600" height="200" alt="Book" />
</br>

<%= button_to "Next Move", {:action => "next_move"}%>
</br>
<strong>Enter number of Rings and press START to begin. </strong>
<strong>Press Next Move for the next step.</strong></br>
<a href="http://www.google.com"  align = "left" id="ggl" title="Search Google">GoTo Google</a>
</body>
</html>
